{% extends 'base.html' %}

{% block title %}Eliminar empleados{% endblock title %}

{% block content %}
    {% include 'includes/header.html' %}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Eliminar empleado: {{object.first_name}}</h1>
            <form method='POST' class="cell">
                {% csrf_token %}

                <div class="callout secondary">
                    <h5>¿Desea eliminar a este empleado?</h5>
                    <button type="submit" class="alert button">Confirmar</button>
                  </div>
            </form>

        </div>
    </div>

{% endblock content %}


